@font-face {
  font-family: "Minecraft";
  src: url("../font/Minecraft.otf");
}
@font-face {
  font-family: "Monocraft";
  src: url("../font/Monocraft-SemiBold.otf");
}

body {
  margin: 0;
  font-family: "Minecraft";
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: auto;
}
.obf, .arrow{
  font-family: "Monocraft";
}

ul{
  list-style-type: square;
}

.bg-blur {
  --darkreader-inline-bgcolor: transparent !important;
  --darkreader-inline-bgimage: initial !important;
  position: fixed;
  inset: -20px;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/bg2.png");
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  filter: blur(5px);
}

#maintitle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#maintitle img {
  border: 2px solid black;
  border-radius: 5px;
}

#inputArea {
  display: flex;
  justify-content: center
}

#guessInput {
  font-family: "Minecraft";
  color: #dddddd;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  font-size: 20px;
  width: 300px;
  height: 40px;
  border-radius: 0px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 4px #000000;
  padding-left: 9px;
  text-shadow: 3px 3px 0px #373737;
  margin-top: 4px;
}

#guessInput::placeholder {
  color: #dddddd;
}

#guessInput:focus {
  outline: none;
}

#guessBtn {
  font-family: "Minecraft";
  position: relative;
  image-rendering: crisp-edges;
  background: url("../img/btn.png") no-repeat;
  width: 60px;
  height: 54px;
  font-size: 20px;
  border: 0px solid;
  box-shadow: 0 0 0 2px black;
  color: #fcfcfc;
  text-shadow: 3px 3px 0px #3e3e3e;
}

#guessBtn:hover {
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
}

#guessBtn:disabled {
  cursor: not-allowed;
  filter: contrast(50%);
  box-shadow: 0 0 0 2px black;
}

#alert {
  color: #FF5555;
  text-align: center;
  text-shadow: 3px 3px 0px #3f1515;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 180px);
  gap: 5px;
  margin-bottom: 20px;
  width: fit-content;
}

.cell {
  width: 180px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

.container {
  width: 1000px;
}

.correct {
  background: #6aaa64;
  color: rgb(24, 24, 24);
}
.green{
  color: #6aaa64;
}

.present {
  background: #c9b458;
  color: rgb(24, 24, 24);
}

.yellow{
  color: #c9b458;
}

.absent {
  background: #d6414d;
  color: rgb(247, 247, 247);
}

.red{
  color: #d6414d;
}

.cell.title {
  background: #120312;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  image-rendering: auto;
  border: 0px;
  height: 60px
}

.cell.title::before {
  content: "";
  position: absolute;
  inset: 2px;
  border: 2px solid #2a085f;
  border-radius: 7px;
  pointer-events: none;
}

.cell img {
  filter: drop-shadow(0 0 5px rgb(49, 49, 49));

  image-rendering: optimizeSpeed;             /* older name */
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Older Safari */
  image-rendering: pixelated;                 /* Chrome, modern browsers */
  image-rendering: crisp-edges;               /* CSS4 draft */
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard) */

  transform-origin: 0 0;
  backface-visibility: hidden;
  will-change: transform;
}

#dmg,
#str {
  color: #ff5555;
  text-shadow: 3px 3px 0px #3f1515;
}

#item,
#tier,
#type {
  color: #aaaaaa;
  text-shadow: 3px 3px 0px #2a2a2a;
}

#abil {
  color: #ffaa00;
  text-shadow: 3px 3px 0px #2a2a00
}

.ability{
    color: #ffaa00;
}

#suggestions {
  position: absolute;
  top: 54px;
  left: 0;
  background: #111;
  color: white;
  width: 312px;
  border: 2px solid #444;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  font-family: 'Minecraft';
  z-index: 1000;
}

#openPop{
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#shareBtn{
  margin-left: 20px;
  cursor: pointer;
  text-decoration: underline;
}

#info {
    visibility: hidden;
  position: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__window {

  position: fixed;
  z-index: 3;
  background-color: white;
  border: 2px solid #aaaaaa;
  border-radius: 20px;
  padding: 1em 2em;
  top: 10%;
  height: auto;
  width: 100vh;
  text-align: left;
}


#me{
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a{
  color: #cccccc;

}

.modal__window a {
    color: black;
}

#infoM{
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 600px) {

  body {
    padding: 10px;
    overflow-x: hidden;
  }

  #container {
    width: 100%;
  }

  #maintitle img {
    width: 90%;
    height: auto;
  }
  #info {
    align-items: flex-start;
    overflow-y: auto;
    padding: 20px 0;
  }

  #inputArea {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #guessInput {
    width:auto;
    font-size: 18px;
  }

  #guessBtn {
    width: 55px;
    height: 48px;
    background-size: cover;
  }

  #suggestions {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 160px;
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 10px;
  }

  .cell {
    height: auto;
    width: auto;
    font-size: 12px;
    padding: 4px;
  }

  .cell.title {
    height: 20px;
    width: auto;
    font-size: 8px;
    border-radius: 5px;
    min-width: 80%;
  }

   .cell.title::before {
    inset: 1px;
    border-radius: 4px;
  }
  
  .cell img{
    height: 30px;
  }
  
  .cell.title img {
    height: 8px;
  }

  .modal__window {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    padding: 1em;
    max-height: 85vh;
    overflow-y: auto;
  }

  .cell,
  #grid,
  #item,
  #tier,
  #type,
  #dmg,
  #str,
  #abil {
    word-wrap: break-word;
    white-space: normal;
  }

  #item,
  #tier,
  #type,
  #dmg,
  #str,
  #abil {
    text-shadow: 2px 2px 0px #2a2a2a;
  }

  #alert {
    text-shadow: 2px 2px 0px #3f1515;
  }

}